.cards-last-week {
  display: grid;
  grid-gap: 16px;
  margin: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
}

.cards-lectures {
  display: grid;
  grid-gap: 16px;
  margin: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}


.card-schedule {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-schedule.today {
  box-shadow: 0 0 24px rgba(255, 0, 0, 0.8);
}

.card-schedule-daytime {
  height: 100%;
  min-width: 92px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: #FD0F14;
}

.card-schedule-daytime p {
  color: white;
  font-weight: bolder;
  font-size: 24px;
  margin: 0;
}

.card-schedule-infos {
  height: 100%;
  padding: 16px;
}

.card-schedule-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  /*height: 2em;*/
}


.card-schedule-infos h2.key-day {
  color: red;
}

.card-schedule-infos a {
  text-decoration: none;
}

.card-schedule-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  height: 3em;
}


.card-schedule-titles {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 15, 20,0.2);
}

.card-schedule-titles h2 {
  font-size: 24px;
  margin: 0;
}

.card-schedule-titles p {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .card-schedule-titles h2 {
    font-size: 16px;
  }
  .card-schedule-infos h2 {
    font-size: 12px;
  }
  .card-schedule-infos p {
    font-size: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .card-schedule-titles h2 {
    font-size: 24px;
  }
  .card-schedule-infos h2 {
    font-size: 16px;
  }
  .card-schedule-infos p {
    font-size: 12px;
  }

  .day-slot {
    display: none;
  }
  .card-schedule-daytime {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .card-schedule {
    height: 112px;
  }

  .card-schedule-titles h2 {
    font-size: 32px;
  }
  .card-schedule-infos h2 {
    font-size: 20px;
  }
  .card-schedule-infos p {
    font-size: 16px;
  }

  .card-schedule-infos {
    padding: 8px;
  }

@media screen and (max-width: 1000px) {
  .cards-last-week {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(25, 1fr);
  }

  .cards-lectures {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .card-day {
    display: none;
  }

}
